<div class="container text-center mt-3 mb-3 ">
  <%= image_tag"Delve Logo.gif", class: "logo text-center" %>
  <h2><span data-controller="typed-js"></span></h2>

  <div data-controller="sweet-alert"
        data-sweet-alert-url-start-value='<%= new_journey_path %>'
        data-sweet-alert-url-load-value='<%= test_fight_path %>'>
    <div class="start-buttons d-flex flex-row justify-content-center">
      <div class="p-2">
        <%= simple_form_for @game, data: { action: "submit->sweet-alert#disclaimerStart" } do |f| %>
          <%= f.submit "Start new game", id: "target", class: "btn btn-ocean" %>
        <% end %>
      </div>
      <div class="p-2">
        <p class="btn btn-blue" data-action="click->sweet-alert#disclaimerLoad">Load my game</p>
      </div>
    </div>
  </div>
</div>
 