<div class="container text-center mt-3 mb-3 ">
  <%= image_tag"Delve Logo.gif", class: "logo text-center" %>
  <h2><span data-controller="typed-js"></span></h2>

  <div data-controller="sweet-alert"
        data-sweet-alert-url-start-value='<%= new_journey_path %>'
        data-sweet-alert-url-load-value='<%= dashboard_path %>'
        data-sweet-alert-url-cancel-value='<%= root_path %>'
  >
    <div class="start-buttons flex-row justify-content-center mt-3">
      <div class="p-2">
        <%= simple_form_for @game, data: { action: "submit->sweet-alert#disclaimerStart" } do |f| %>
          <%= f.submit "Start new game", id: "target", class: "btn btn-ocean-start" %>
        <% end %>
      </div>
      <% if current_user.present? %>
        <div class="p-2">
          <p class="btn btn-blue-start" data-action="click->sweet-alert#disclaimerLoad">Load my game</p>
        </div>
      <% else %>
        <div class="p-2">
          <%= link_to "Log in", new_user_session_path, class: "btn btn-blue-start" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
