<div class="container mt-3 mb-3 ml-5 mr-5 ">
  <div class="center-container">
    <div class="text-center">
      <h1 class="special-font gradient-title"><%= @disorder.name %></h1>
      <%= render "shared/underline" %>
    </div>
  </div>
  <div class="controller mt-4 mb-2"
    id="game-controller"
    data-controller="sweet-alert test-fight"
    data-test-fight-enemy-value="<%= @enemys.first.to_json %>" data-test-fight-player-value="<%= @character.to_json %>" data-test-fight-disorder-value="<%= @disorder.to_json %>"
    data-test-fight-special-value="<%= @player_abilitys.to_json %>" data-sweet-alert-enemy-value="<%= @enemys.first.to_json%>"
    data-sweet-alert-fight-win-value='<%= journeys_completed_path %>'
    data-test-fight-fight-win-value='<%= journeys_completed_path %>'
    data-sweet-alert-room-win-value='<%= test_fight_path(rooms_id: @db_rooms.pluck(:id).drop(1)) %>'
    data-sweet-alert-fight-loss-value='<%= journeys_repeat_path %>'
    data-sweet-alert-fight-exit-value='<%= root_path %>'
    >
    <div class="d-flex justify-content-between">
      <div class="fight-stats mt-3">
        <h3 class="mb-4 text-nowrap" data-test-fight-target="enemyName"><%= @enemys.first.name %></h3>
        <div class="progress-labels">
          <i class="fa-solid fa-heart-pulse"></i>
          <p data-test-fight-target="enemyHealthPercent" class="m-0">100%</p>
        </div>
        <progress class="health-bar" value="" data-test-fight-target="enemyHealth" max="" data-sweet-alert-target="enemyHealth"></progress>
      </div>

      <div class="" data-controller="animation" data-animation-enemy-value="<%= @enemys.first.name%>" data-animation-root-value="<%= image_url("#{@enemys.first.name}.png").html_safe %>"class="enemyPicture">
          <div data-test-fight-target="firstPicture" >
            <canvas data-animation-target="svg" height="300" class="c-border">
              <%= inline_svg("#{@enemys.first.name}.svg")%>
            </canvas>
          </div>
      </div>

      <div class="fight-stats mt-3">
        <h3 class="mb-4 text-nowrap"><%= current_user ? current_user.username : "Player" %></h3>
        <div class="progress-labels">
          <i class="fa-solid fa-heart-pulse"></i>
          <p data-test-fight-target="playerHealthPercent" class="m-0">100%</p>
        </div>
        <progress class="health-bar" value="<%= @character.health %>" data-test-fight-target="playerHealth" max="<%= @character.health %>"></progress>

        <div class="progress-labels">
          <i class="fa-solid fa-bolt"></i>
          <p data-test-fight-target="playerEnergyPercent" class="m-0">100%</p>
        </div>
        <progress class="energy-bar" value="<%= @character.energy %>" data-test-fight-target="playerEnergy" max="<%= @character.energy %>"></progress>
      </div>
    </div>

    <div class="game-info row mt-3">
      <div class="game-controls mb-3 col-sm-12 col-lg-4">
        <button class="btn btn-melon" data-action="click->test-fight#attackEnemy" id="attack-button">Attack</button>
        <!-- Default dropup button -->
        <div class="btn-group dropup">
          <button type="button" id="special-button" class="btn btn-ocean dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Special
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <!-- Dropdown menu links -->
            <li class="dropdown-item" data-action="click->test-fight#specialHeavy">Heavy strike</li>
            <li class="dropdown-item" data-action="click->test-fight#specialReckless">Reckless attack</li>
            <li class="dropdown-item" data-action="click->test-fight#specialHealing">Healing</li>
          </ul>
        </div>
        <button class="btn btn-blue" data-action="click->sweet-alert#fightExit">Exit game</button>
      </div>

      <div class="game-log col-sm-12 col-lg-7" data-test-fight-target="gameLog">
          <p style="color:#42475B"><span data-controller="typed-js" data-typed-js-message-value="This one won't let <span class=special-font>you</span> pass"></span></p>
      </div>
    </div>
  </div>
</div>
