<div class="container mt-3 mb-3 ">
  <div class="center-container">
    <div class="container-content">
      <div class="text-center">
        <h1><%= @disorder.name %></h1>
        <%= render "shared/underline" %>
      </div>
    </div>
  </div>
  <div class="controller mt-5 mb-2"
       data-controller="test-fight"
       data-test-fight-enemy-value="<%= @enemy.to_json %>" data-test-fight-player-value="<%= @character.to_json %>" data-test-fight-disorder-value="<%= @disorder.to_json %>">
  <div class="d-flex justify-content-evenly">
    <div class="mt-3">
      <h3 class="mb-3"><%= @enemy.name %></h3>
      <h6>Health</h6>
      <progress class="health-bar" value="<%= @enemy.health %>" data-test-fight-target="enemyHealth" max="<%= @enemy.health %>"></progress>
    </div>
    <div id="enemyPicture">
      <% def svg(name) %>
        <% file_path = "#{Rails.root}/app/assets/images/#{name}.svg"  %>
        <% return File.read(file_path).html_safe if File.exists?(file_path)  %>
        <%  '(not found)' %>
      <% end %>
      <%= svg(@enemy.name) %>
    </div>
    <div class="m-2">
      <h3 class="mb-3"><%= current_user ? current_user.username : "Player" %></h3>
      <h6>Health</h6>
      <progress class="health-bar" value="<%= @character.health %>" data-test-fight-target="playerHealth" max="<%= @character.health %>"></progress>
      <h6>Energy</h6>
      <progress class="energy-bar" value="<%= @character.energy %>" data-test-fight-target="playerEnergy" max="<%= @character.energy %>"></progress>
    </div>
  </div>

<div class="d-flex justify-content-around m-2 p-2">
  <p class="btn btn-melon" data-action="click->test-fight#attackEnemy">Attack</p>
  <p class="btn btn-ocean invisible">Special</p>
  <%# <%= link_to "Exit game", root_path, class:"btn btn-blue", data: { action:"click->test-fight#playerOptOut" } %>
  <%# Working button %>
  <p class="btn btn-blue" id="linkfunc" data-action="click->test-fight#playerOptOut"><%= link_to "Exit game", root_path %></p>
</div>
