<h1 class="text-center"><%= @disorder.name %></h1>
<br>
<div class="controller mb-2" data-controller="test-fight" data-test-fight-enemy-value="<%= @enemy.to_json %>" data-test-fight-player-value="<%= @character.to_json %>" data-test-fight-disorder-value="<%= @disorder.to_json %>">
  <div class="d-flex justify-content-evenly">
    <div class="m-2">
      <h3><%= @enemy.name %></h3>
      <h4>Health</h4>
      <progress value="<%= @enemy.health %>" data-test-fight-target="enemyHealth" max="<%= @enemy.health %>"></progress>
    </div>
    <div id="enemyPicture">
      <% def svg(name) %>
        <% file_path = "#{Rails.root}/app/assets/images/#{name}.svg"  %>
        <% return File.read(file_path).html_safe if File.exists?(file_path)  %>
        <%  '(not found)'  %>
      <% end %>
    <%= svg(@enemy.name) %>
    </div>
    <div class="m-2">
      <h3><%= current_user ? current_user.username : "Player" %></h3>
      <h4>Health</h4>
      <progress value="<%= @character.health %>" data-test-fight-target="playerHealth" max="<%= @character.health %>"></progress>
      <h4>Energy</h4>
      <progress value="<%= @character.energy %>" data-test-fight-target="playerEnergy" max="<%= @character.energy %>"></progress>
    </div>
  </div>
  <br>
  <div class="d-flex justify-content-evenly m-2 p-2">
    <button data-action="click->test-fight#attackEnemy" class="col-4 m-1">Attack</button>
    <button class="col-4 m-1">Special</button>
    <button data-action="click->test-fight#playerLose" class="col-4 m-1">Opt out</button>
  </div>
</div>
