<h1>Amygd's Crossing</h1>

<%# <%= simple_form_for @room do |f| %>
  <%# <%= f.input :journey_id, collection: @journeys.each { |journey_id| journey_id }, as: :check_boxes, include_hidden: false %>
  <%# <%= f.submit "Delve in", class: "btn btn-gradient" %>
<%# <% end %>

<% @journeys.each do |journey| %>
  <%= button_to do %>
    <%= journey.title %>
  <% end %>
<% end %>
