<div class="container mt-3 mb-3">
  <p><%= link_to request.referer.present? ? request.referer : root_path do %>
    <i class="fa-solid fa-backward"></i> Back
  <% end %></p>
  <div class="center-container">
    <div class="container-content">
      <h1 class="special-font text-center">Amygd's Crossing</h1>
      <%= render "shared/underline" %>
    </div>
  </div>

  <div class="mt-3 mb-3">
    <h4>You find yourself in an obscure environment...</h4>
    <p>How you ended up in this peculiar place is not known but you are here for a reason. And this reason alone will guide you out of here!</p>

    <p>You are standing in front of a series of gates that will lead you deeper into this strange place. You do not feel alone, you can even feel a sort of familarity with this place.</p>
  </div>

  <div class="mt-5">
    <h5 class="mt-3 mb-3">Now, the only thing that's left to do for you is to choose the gate you want to <span class="special-font gradient-title">delve into</span> first ...</h5>
    <div class="selection-form text-center" data-controller="rooms">
      <%= simple_form_for(@room) do |f| %>
      <%= f.input :journey_id,
                  as: :radio_buttons,
                  label: "",
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: { class: 'category-selector', data: { rooms_target: "room", action: "click->rooms#activate" } },
                  collection: @journeys.each { |journey_id| journey_id },
                  class: "mt-2",
                  include_hidden: false %>
        <%= f.submit "Delve", class: "btn btn-ocean mt-2 special-font", data: { rooms_target: "button" } %>
      <% end %>
    </div>
  </div>
</div>
