<div class="container mt-3 mb-3">

  <div class="center-container">
    <div class="container-content">
      <h1>Congratulations</h1>
      <%= render "shared/underline" %>

      <p class="mt-3">You successfully defended yourself and bravely stood up agains <%= @disorder.name %></p>
      <% raise %>
      <div data-controller="animation" data-animation-enemy-value="<%= @enemy.name%>" data-animation-root-value="<%= image_url("#{@enemy.name}.png").html_safe %>"class="enemyPicture">
        <canvas data-animation-target="svg" class="teaser" height="600" width="400"></canvas>
      </div>

      <h4>More about <%= @disorder.name %></h4>
      <p>More info coming soon ...</p>

      <h4>Additional recommendations for you</h4>
      <p>More info coming soon ...</p>

      <p>Want to find out more?
      <p><%= link_to "Click here", about_path %></p>
      <br>
      <% if current_user.present? %>
      <%= link_to "Continue", new_journey_path, class: "btn btn-ocean" %>
      <%= link_to "Exit", dashboard_path, class: "btn btn-blue" %>
      <% else %>
        <%= link_to "Continue", new_journey_path, class: "btn btn-ocean" %>
        <%= link_to "Exit", root_path, class: "btn btn-blue" %>
        <p class="mt-5">You like the game? Register now!</p>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-melon" %>
      <% end %>
    </div>
  </div>
</div>
