<div class="container mt-3 mb-3">
  <p><%= link_to request.referer.present? ? request.referer : root_path do %>
    <i class="fa-solid fa-backward"></i> Back
  <% end %></p>
  <div class="center-container">
    <div class="container-content">
      <h1>Your Journey begins</h1>
      <%= render "shared/underline" %>
      <p class="mt-3">Select the routes you want to embark on ...</p>

      <div class="selection-form">
        <%= simple_form_for(@journey) do |f| %>
          <%= f.input :title,
                      label: "",
                      collection: @disorders.each { |disorder| disorder.name },
                      as: :check_boxes,
                      input_html: {class: "tag-selector" },
                      item_wrapper_class: "tag-item",
                      class: "mt-2",
                      include_hidden: false %>
          <%= f.submit "Let's go", class: "btn btn-ocean mt-2" %>
        <% raise %>
        <% end %>
      </div>
    </div>
  </div>
</div>
