<div class="container mt-3 mb-3">

  <div class="center-container">
    <div class="container-content">
      <h1 class="special-font">Never give up</h1>
      <%= render "shared/underline" %>

      <h5 class="mt-3">This time didn't work out for you... <%= %></h5>

      <p> ... however, life's journey is not a straight path, and for every three steps forward, you might take one step back.</p>
      <br><p>Be kind to yourself and take a rest. </p>
      <br><p>When you feel ready, come back and embark on a new journey. </p>

      <div class="hline"></div>
      <br>
      <% if current_user.present? %>
        <%= link_to "Try again", new_room_path, class: "btn btn-ocean" %>
        <%= link_to "Exit", dashboard_path, class: "btn btn-blue" %>
      <% else %>
        <%= link_to "Try again", new_journey_path, class: "btn btn-ocean" %>
        <%= link_to "Exit", root_path, class: "btn btn-blue" %>
        <p class="mt-5">You like the game? <strong>Register now!</strong></p>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-melon text-center" %>
      <% end %>
    </div>
  </div>
</div>
